@font-face {
  font-family: "Cera Pro";
  src: local("Cera Pro"), url("../fonts/CeraPro-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cera Pro";
  src: local("Cera Pro"), url("../fonts/CeraPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cera Pro";
  src: local("Cera Pro"), url("../fonts/CeraPro-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cera Pro";
  src: local("Cera Pro"), url("../fonts/CeraPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cera Pro";
  src: local("Cera Pro"), url("../fonts/CeraPro-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Cera Pro", sans-serif;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}
h3,
h4,
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: rgba(61, 61, 61, 1);
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.registration-form {
  box-sizing: border-box;
  position: relative;
  padding: 50px 20px 50px 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.button-close {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 13px;
  right: 13px;
  outline: none;
  background: transparent;
  align-items: center;
  padding: 0;
  border: none;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.input-reg {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: 1px #eaeaea solid;
}
.checkbox-custom {
  display: flex;
  align-items: center;
}
.check {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.checkbox-custom::before {
  content: "";
  width: 15px;
  height: 15px;
  border: 1px solid #080808;
  border-radius: 3px;
  display: inline-block;
}
#agreement:checked + .checkbox-custom::before {
  content: "\2713";
  background-color: #46a358;
  border-color: #46a358;
  color: white;
  font-size: 18px;
  line-height: 18px;
}
#agreement {
  display: none;
}
.form-button {
  background-color: #46a358;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: none;
  color: white;
}
.social-link {
  flex-direction: column;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 20px;
}
.description {
  position: relative;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 400;
  color: #3d3d3d;
}
.social-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  width: 300px;
  height: 40px;
  margin: 0;
}
.social-list li {
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0;
  padding: 10px;
}
.nav-register {
  color: #46a358;
}
.nav-switch {
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
  margin-top: 20px;
}
.form-box {
  padding-top: 25px;
}
.nav-login {
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
}

/* Styles for inline block */
.page {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.header {
  display: flex;
  border-bottom: 1px solid rgba(70, 163, 88, 0.5);
  padding: 30px 0 13px;
  align-items: center;
  justify-content: space-between;
}
.reg-link {
  display: flex;
  width: 100px;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  background-color: #46a358;
  border-radius: 6px;
  padding: 5px 16px;
  justify-content: center;
  align-items: center;
}
.reg-link:hover {
  background-color: #f5f5f580;
  color: #46a358;
  border: 1px solid #46a358;
}
.header-icon {
  fill: currentColor;
  margin-right: 5px;
}

.nav {
  flex-grow: 1;
}
.preloader {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: white;
  opacity: 0.7;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  transition: opacity 0.3s ease;
}
.ring {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: ring 2s linear infinite;
}
@keyframes ring {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #e65c00;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #18b201;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #0456c8;
  }
}
.ring:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(255, 255, 255, 3);
}
.preloader.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.loading {
  color: #46a358;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 200px;
  animation: text 3s ease-in-out infinite;
}
@keyframes text {
  0% {
    color: #46a358;
  }
  50% {
    color: #f5f5f580;
  }
  100% {
    color: #46a358;
  }
}
.nav-list {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.nav-list > li:hover .sub-menu {
  display: block;
}
.sub-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  padding-top: 20px;
  min-width: 188px;
  font-size: 16px;
  line-height: 100%;
  color: rgba(61, 61, 61, 1);
}
.sub-menu a {
  display: block;
  position: relative;
  padding: 9px 0 9px 14px;
  background: rgba(237, 246, 238, 1);
}

.sub-menu__priming {
  position: absolute;
  left: 100%;
  top: 0;
  padding-top: 20px;
  padding-left: 2px;
  width: 178px;
  display: none;
}
.sub-menu li:hover > a {
  background: rgba(26, 113, 42, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
}

.sub-menu li:hover .sub-menu__priming {
  display: block;
}
.link-list {
  position: relative;
}
.sub-menu li:has(ul) > a::after {
  content: "";
  width: 6px;
  height: 6px;
  border: solid rgba(61, 61, 61, 1);
  border-width: 2px 2px 0 0;
  display: inline-block;
  position: absolute;
  right: 13px;
  top: 12px;
  transform: rotate(45deg);
}
.sub-menu li:hover > a::after {
  border-width: 0 0 2px 2px;
  border-color: rgba(255, 255, 255, 1);
}
.nav-list a:hover {
  color: green;
}
.link-list.active {
  position: relative;
}
.nav-list .active > a {
  font-weight: 700;
}
.nav-list .active::after,
.nav-list > li:hover::after {
  font-weight: bold;
  content: "";
  height: 3px;
  width: 100%;
  background: #46a358;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
}
.container {
  max-width: 1200px;
  width: 100%;
}
.intro {
  background-color: #f5f5f580;
  padding: 10px;
  align-items: center;
  display: flex;
}

.intro-description {
  width: 50%;
  padding-left: 20px;
}
.intro-images {
  width: 50%;
}
.upper-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding: 0;
  color: #3d3d3d;
  text-transform: uppercase;
}

.main-title {
  font-weight: 900;
  font-size: 70px;
  line-height: 70px;
  color: #3d3d3d;
  text-transform: uppercase;
  margin: 0;
}
.intro-text {
  font-size: 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #727272;
  margin: 0;
  margin-bottom: 44px;
}
.title-planet {
  color: #46a358;
}
.intro-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border: 1px solid #46a358;
  border-radius: 6px;
  background-color: #46a358;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  text-transform: uppercase;
  padding: 11px 27px 9px 26px;
}
.intro-button:hover {
  background-color: #f5f5f580;
  color: green;
  border-color: green;
}

/* float aside styles */

.filters {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#select {
  border: none;
  font-size: 15px;
  line-height: 16px;
  color: rgba(61, 61, 61, 1);
}
.categories {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: rgba(251, 251, 251, 1);
  margin-top: 15px;
  margin-bottom: 90px;
  flex-shrink: 0;
}
.baner {
  margin-top: auto;
}
.categories-list {
  font-size: 15px;
  line-height: 40px;
  color: rgba(61, 61, 61, 1);
}
.categories-link {
  padding: 5px 30px 10px 15px;
}
.categories-link.active a {
  color: rgba(70, 163, 88, 1);
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
}
.sort-link.active::after {
  content: "";
  display: inline-block;
  height: 3px;
  background-color: #46a358;
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
}
.sort-list {
  display: flex;
}
.sort-link {
  padding: 10px 20px;
  position: relative;
}
.sort-link a {
  transition: transform 0.3s ease;
  font-size: 15px;
  line-height: 16px;
  display: inline-block;
}
.sort-link.active a {
  color: #46a358;
  font-weight: 700;
}
.sort-link:hover a {
  color: rgba(70, 163, 88, 1);
  transform: scale(1.1);
}
.categories-link a:hover {
  color: rgba(70, 163, 88, 1);
  font-weight: 700;
}
.select-box {
  font-size: 15px;
  line-height: 16px;
  color: rgba(61, 61, 61, 1);
}
.content-box {
  display: flex;
}
.content {
  flex-grow: 1;
  padding-left: 20px;
}
.product-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-right: -30px;
}
.product-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  color: rgba(70, 163, 88, 1);
  margin-top: 9px;
}
.product-name {
  font-size: 16px;
  line-height: 16px;
  color: rgba(61, 61, 61, 1);
  margin: 8px 0;
}
.product {
  border-top: 1px solid rgba(251, 251, 251, 1);
  width: calc(33.333% - 30px);
  position: relative;
}
.product:hover {
  border-color: rgba(70, 163, 88, 1);
}
.product:hover ul {
  opacity: 1;
  visibility: visible;
}
.product-img {
  text-align: center;
  background-color: rgba(251, 251, 251, 1);
  position: relative;
  padding: 25px 0;
}
.product-link {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 25px;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}
.product-link li {
  cursor: pointer;
}
.product-img img {
  object-fit: contain;
}
.product-icon:hover {
  fill: rgba(70, 163, 88, 1);
  transform: scale(1.1);
}

.discount {
  position: absolute;
  left: 0;
  top: 14px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(70, 163, 88, 1);
  padding: 7px 9px;
  margin: 0;
}
.pagination {
  display: flex;
  justify-content: flex-end;
}
.pagination ul {
  display: flex;
  gap: 10px;
}
.pagination-link a {
  display: flex;
  width: 35px;
  height: 35px;
  border: 1px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: 18px;
  line-height: 16px;
  color: rgba(61, 61, 61, 1);
}
.pagination-link a:hover {
  background-color: rgba(70, 163, 88, 1);
  color: rgba(255, 255, 255, 1);
}
.pagination-link.active a {
  background-color: rgba(70, 163, 88, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  border: none;
}
.plant {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 28px;
  margin-top: 80px;
  padding: 20px 0;
  margin-bottom: 100px;
}
.plants {
  position: relative;
  width: 586px;
  padding-top: 52px;
}
.plants-content {
  display: flex;
  background-color: rgba(251, 251, 251, 1);
  padding-bottom: 35px;
}
.plants-img-wrapper {
  flex: 0 1 288px;
  min-width: 288px;
}
.plants-img {
  top: 0;
  position: absolute;
}
.plants-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  flex: 0 1 auto;
}
.plants-title {
  padding-left: 48%;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  color: rgba(61, 61, 61, 1);
}
.plants-description {
  padding: 0 0px 25px 0;
  font-weight: 400;
  margin-left: -40px;
  color: rgba(114, 114, 114, 1);
}
.plants-text {
  padding-right: 30px;
}
.plants-text a {
  padding: 10px 20px 8px 16px;
  font-weight: 500;
  font-size: 14px;
  text-transform: none;
}
.posts {
  text-align: center;
  margin-bottom: 30px;
}
.posts-content {
  display: flex;
  gap: 44px;
}
.posts-item {
  display: flex;
  text-align: left;
  flex-direction: column;
  width: 25%;
  background-color: rgba(251, 251, 251, 1);
}
.posts-title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 30px;
  line-height: 16px;
  color: rgba(61, 61, 61, 1);
}
.posts-text {
  margin-bottom: 15px;
  font-weight: 400;
  color: rgba(114, 114, 114, 1);
}
.posts-date {
  font-weight: 500;
  line-height: 16px;
  color: rgba(70, 163, 88, 1);
}
.posts-item__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: rgba(61, 61, 61, 1);
  margin: 0;
}
.posts-description {
  line-height: 22px;
  color: rgba(114, 114, 114, 1);
  margin: 0;
}
.posts-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 16px;
  color: rgba(61, 61, 61, 1);
  width: fit-content;
}
.posts-link img {
  padding: 3px 0 3px 4px;
}
.posts-link.active {
  color: rgba(70, 163, 88, 1);
}
.posts-link:hover {
  color: rgba(70, 163, 88, 1);
}
.arrow-right {
  fill: currentColor;
  margin-left: 4px;
}
.posts-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 9px 20px 12px 15px;
}
.footer {
  background-color: rgba(251, 251, 251, 1);
}
.footer-plants {
  display: flex;
  gap: 60px;
  padding: 25px;
}
.footer-list {
  display: flex;
  gap: 60px;
}
.footer-title {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: rgba(61, 61, 61, 1);
}
.form-title {
  line-height: 700;
  font-size: 18px;
  line-height: 16px;
  color: rgba(61, 61, 61, 1);
}
.footer-text {
  line-height: 22px;
  color: rgba(114, 114, 114, 1);
}
.form-text {
  font-size: 13px;
  line-height: 22px;
  color: rgba(114, 114, 114, 1);
}
.footer-list li {
  background-repeat: no-repeat;
  position: relative;
  padding-top: 110px;
}
.footer-list li + li::before {
  content: "";
  width: 1px;
  background-color: rgba(70, 163, 88, 0.1);
  position: absolute;
  top: 30px;
  bottom: 30px;
  left: -30px;
}
.footer-list li:nth-child(1) {
  background-image: url(../images/garden.png);
}
.footer-list li:nth-child(2) {
  background-image: url(../images/renovation.png);
}
.footer-list li:nth-child(3) {
  background-image: url(../images/watering.png);
}
.footer-form {
  max-width: 354px;
  width: 100%;
}
.footer-form > h4 {
  padding: 13px 56px 0 0;
}
.footer-input {
  padding: 12px 0 12px 12px;
  line-height: 16px;
  max-width: 269px;
  width: 100%;
  border-radius: 6px 0 0 6px;
  border: none;
  background-color: rgba(255, 255, 255, 1);
  outline: none;
}
.footer-placeholder {
  position: relative;
  margin-top: 25px;
  margin-bottom: 18px;
}
.footer-button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 25px;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(70, 163, 88, 1);
  border-radius: 0 6px 6px 0;
  border: 1px solid rgba(70, 163, 88, 1);
  cursor: pointer;
}
.footer-button:hover {
  color: rgba(70, 163, 88, 1);
  background-color: rgba(255, 255, 255, 1);
}
.footer-gradient {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(90deg, #edf6ef 0%, #52c368 100%);
  padding: 27px 20px;
}
.footer-gradient li {
  display: flex;
  align-items: center;
}
.footer-gradient li > img {
  padding-right: 10px;
}
.footer-address {
  font-style: normal;
}
.footer-information {
  display: flex;
  gap: 20px;
  max-width: 1064px;
}
.footer-container {
  border-bottom: 1px solid rgba(70, 163, 88, 0.2);
  padding: 33px 25px 29px;
}
.footer-social {
  display: flex;
  flex-wrap: wrap;
}

.footer-link {
  width: 23%;
}
.footer-link li {
  padding-top: 8px;
}
.footer-information li > a:hover {
  color: rgba(70, 163, 88, 1);
}
.rights {
  text-align: center;
  padding: 6px 0 22px;
  line-height: 30px;
  color: rgba(61, 61, 61, 1);
  background-color: white;
}
.social-icon {
  fill: rgba(70, 163, 88, 0.6);
}
.footer-social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(70, 163, 88, 0.2);
  border-radius: 4px;
  margin-right: 10px;
}
.payment-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.gradient-icon {
  fill: rgba(70, 163, 88, 1);
  margin-right: 9px;
}
