@font-face {
  font-family: "Cera Pro";
  src: local("Cera Pro"), url("../fonts/CeraPro-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cera Pro";
  src: local("Cera Pro"), url("../fonts/CeraPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cera Pro";
  src: local("Cera Pro"), url("../fonts/CeraPro-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cera Pro";
  src: local("Cera Pro"), url("../fonts/CeraPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cera Pro";
  src: local("Cera Pro"), url("../fonts/CeraPro-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Cera Pro", sans-serif;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}

.registration-form {
  box-sizing: border-box;
  position: relative;
  padding: 50px 20px 50px 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.button-close {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 13px;
  right: 13px;
  outline: none;
  background: transparent;
  align-items: center;
  padding: 0;
  border: none;
}
a {
  text-decoration: none;
  color: rgba(61, 61, 61, 1);
}
ul {
  list-style: none;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.footer {
  height: 10px;
  background-color: #46a358;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
input {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: 1px #eaeaea solid;
}
.form-button {
  background-color: #46a358;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: none;
  color: white;
}
.social-link {
  flex-direction: column;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 20px;
}
.description {
  position: relative;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 400;
  color: #3d3d3d;
}
.social-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  width: 300px;
  height: 40px;
  margin: 0;
}
.social-list li {
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0;
  padding: 10px;
}
.nav-register {
  color: #46a358;
}
.nav-switch {
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
  margin-top: 20px;
}
.form-box {
  padding-top: 25px;
}
.nav-login {
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
}

/* Styles for inline block */
.page {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.header {
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgba(70, 163, 88, 0.5);
  padding: 30px 0 13px;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  width: 150px;
}
.reg-link {
  display: flex;
  width: 100px;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  background-color: #46a358;
  border-radius: 6px;
  padding: 5px 16px;
  justify-content: center;
  align-items: center;
}
.reg-link:hover {
  background-color: #f5f5f580;
  color: #46a358;
  border: 1px solid #46a358;
}
/* .arrow {
  fill: currentColor;
} */
.logout {
  margin-right: 3px;
}

.nav-list {
  display: flex;
  gap: 50px;
  align-items: center;
  font-size: 16px;
}
.link-list.active a {
  font-weight: 700;
}
.link-list a:hover {
  color: green;
}
.link-list.active {
  position: relative;
}
.link-list.active::after {
  content: "";
  display: flex;
  height: 3px;
  width: 45px;
  background-color: #46a358;
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
}
.container {
  max-width: 1200px;
  width: 100%;
}
.intro {
  background-color: #f5f5f580;
  padding: 10px;
  align-items: center;
  display: flex;
}

.intro-description {
  flex-direction: column;
  width: 50%;
  padding-left: 20px;
}
.intro-images {
  width: 50%;
}
.upper-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding: 0;
  color: #3d3d3d;
  text-transform: uppercase;
}

.main-title {
  font-weight: 900;
  font-size: 70px;
  line-height: 70px;
  color: #3d3d3d;
  text-transform: uppercase;
  margin: 0;
}
.intro-text {
  font-size: 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #727272;
  margin: 0;
  margin-bottom: 44px;
}
.title-planet {
  color: #46a358;
}
.intro-button {
  align-items: center;
  justify-content: center;
  width: fit-content;
  border: 1px solid #46a358;
  border-radius: 6px;
  background-color: #46a358;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  text-transform: uppercase;
  padding: 11px 27px 9px 26px;
}
.intro-button:hover {
  background-color: #f5f5f580;
  color: green;
  border-color: green;
}

/* float aside styles */

.filters {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#select {
  border: none;
  font-size: 15px;
  line-height: 16px;
  color: rgba(61, 61, 61, 1);
}
.categories {
  display: flex;
  flex-direction: column;
  max-width: 20%;
  background-color: rgba(251, 251, 251, 1);
  margin-top: 15px;
  padding-bottom: 50px;
}
.baner {
  margin-top: auto;
}
.categories-list {
  font-size: 15px;
  line-height: 40px;
  color: rgba(61, 61, 61, 1);
}
.categories-link {
  padding: 5px 30px 10px 15px;
}
.categories-link.active a {
  color: rgba(70, 163, 88, 1);
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
}
.sort-link.active::after {
  content: "";
  display: inline-block;
  height: 3px;
  background-color: #46a358;
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
}
.sort-list {
  display: flex;
}
.sort-link {
  padding: 10px 20px;
  position: relative;
}
.sort-link a {
  transition: transform 0.3s ease;
  font-size: 15px;
  line-height: 16px;
  display: inline-block;
}
.sort-link.active a {
  color: #46a358;
  font-weight: 700;
}
.sort-link:hover a {
  color: rgba(70, 163, 88, 1);
  transform: scale(1.1);
}
.categories-link a:hover {
  color: rgba(70, 163, 88, 1);
  font-weight: 700;
}
.select-box {
  font-size: 15px;
  line-height: 16px;
  color: rgba(61, 61, 61, 1);
}
.clearfix {
  display: flex;
}
.content {
  max-width: 80%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
.product-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-right: -30px;
}
.product-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  color: rgba(70, 163, 88, 1);
  margin-top: 9px;
}
.product-name {
  font-size: 16px;
  line-height: 16px;
  color: rgba(61, 61, 61, 1);
  margin: 8px 0;
}
.product {
  border-top: 1px solid rgba(251, 251, 251, 1);
  width: calc(33.333% - 30px);
}
.product-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(251, 251, 251, 1);
}
.product-img img {
  object-fit: contain;
}
.pagination {
  display: flex;
  justify-content: flex-end;
}
.pagination ul {
  display: flex;
  gap: 10px;
}
.pagination-link a {
  display: flex;
  width: 35px;
  height: 35px;
  border: 1px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: 300;
  font-size: 18px;
  line-height: 16px;
  color: rgba(61, 61, 61, 1);
}
.pagination-link a:hover {
  background-color: rgba(70, 163, 88, 1);
  color: rgba(255, 255, 255, 1);
}
.pagination-link.active a {
  background-color: rgba(70, 163, 88, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  border: none;
}
.plant {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 28px;
  margin-top: 80px;
  padding: 20px 0;
}
.plants {
  display: flex;
  background-color: rgba(251, 251, 251, 1);
}
.plants-img {
  width: 50%;
  margin-top: -60px;
}
.plants-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  width: 50%;
}
.plants-title {
  padding: 37px 0px 9px 119px;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  color: rgba(61, 61, 61, 1);
}
.plants-description {
  padding: 0 0px 25px 0;
  font-weight: 400;
  margin-left: -40px;
  color: rgba(114, 114, 114, 1);
}
.plants-text {
  padding-right: 30px;
}
.plants-text a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px 8px 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
}
.posts {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}
.posts-content {
  display: flex;
  gap: 44px;
}
.posts-item {
  display: flex;
  text-align: left;
  justify-content: flex-start;
  flex-direction: column;
  width: 25%;
  background-color: rgba(251, 251, 251, 1);
}
.posts-title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 16px;
  padding: 100px 0 15px;
  color: rgba(61, 61, 61, 1);
}
.posts-text {
  margin: 0;
  padding-bottom: 15px;
  font-weight: 400;
  color: rgba(114, 114, 114, 1);
}
.posts-date {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: rgba(70, 163, 88, 1);
}
.posts-item__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: rgba(61, 61, 61, 1);
}
.posts-description {
  font-weight: 400;
  line-height: 22px;
  color: rgba(114, 114, 114, 1);
}
.posts-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: rgba(61, 61, 61, 1);
  width: fit-content;
}
.posts-link img {
  padding: 3px 0 3px 4px;
}
.posts-link.active {
  color: rgba(70, 163, 88, 1);
}
.posts-link:hover {
  color: rgba(70, 163, 88, 1);
}
.posts-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 9px 20px 12px 15px;
}
