.registration-form {
  box-sizing: border-box;
  position: relative;
  padding: 50px 20px 50px 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.button-close {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 13px;
  right: 13px;
  outline: none;
  background: transparent;
  align-items: center;
  padding: 0;
  border: none;
}
a {
  text-decoration: none;
  color: #727272;
}
ul {
  list-style: none;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.footer {
  height: 10px;
  background-color: #46a358;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
input {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: 1px #eaeaea solid;
}
.form-button {
  background-color: #46a358;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: none;
  color: white;
}
.social-link {
  flex-direction: column;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 20px;
}
.description {
  position: relative;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 400;
  color: #3d3d3d;
}
.social-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  width: 300px;
  height: 40px;
  margin: 0;
}
.social-list li {
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0;
  padding: 10px;
}
.nav-register {
  color: #46a358;
}
.nav-switch {
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0%;
  margin-top: 20px;
}
.form-box {
  padding-top: 25px;
}
.nav-login {
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0%;
}
